<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sensors</key>
	<array>
		<dict>
			<key>name</key>
			<string>magnetometer</string>
			<key>class</key>
			<string>MagnetometerSensor</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gps</string>
			<key>class</key>
			<string>GPSSensor</string>
		</dict>
		<dict>
			<key>name</key>
			<string>media</string>
			<key>class</key>
			<string>MediaSensor</string>
		</dict>
		<dict>
			<key>class</key>
			<string>MicrophoneSensor</string>
			<key>name</key>
			<string>microphone</string>
		</dict>
		<dict>
			<key>class</key>
			<string>AccelerometerSensor</string>
			<key>name</key>
			<string>accelerometer</string>
		</dict>
		<dict>
			<key>class</key>
			<string>QRCodeSensor</string>
			<key>name</key>
			<string>qrcode</string>
		</dict>
		<dict>
			<key>class</key>
			<string>CameraSensor</string>
			<key>name</key>
			<string>camera</string>
		</dict>
		<dict>
			<key>class</key>
			<string>CameraSensor</string>
			<key>name</key>
			<string>gallery</string>
		</dict>
	</array>
</dict>
</plist>
